body{
    margin: 0% auto;
}
body a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    color: white;
}
.first_row button {
    width: 80px;
    background-color: Transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline:none; 

}

.header{
    background-image: url("./pictures/Color_Fill_1.png");
    height: 750px;
    padding-left: 80px;
    padding-right: 80px;
}
.header .first_row{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.first_row .nav_container{
    display: inline-flex;
}
.nav_container .nav_child{
    padding: 30px;
}

.header .second_row{
    display: flex;
    padding-top: 130px;
    justify-content: space-between;
}
.second_row .left_column_blue h4{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0%;
}
.second_row .left_column_blue p{
    width: 590px;
    color: white;
}
.second_row .left_column_blue .two_buttons{
    display: inline-flex;
    justify-content: space-between;
}
.second_row .left_column_blue .left_button{
    background-color:midnightblue;
    width:150px;
    height: 56px;
    border-radius: 5px;
    border:none;
    color:white;
    outline:none; 
}
.second_row .left_column_blue .right_button{
    width:150px;
    height: 56px;
    border-radius: 5px;
    border:none;
    margin-left: 30px;
    color:midnightblue;
    outline:none; 
}
.second_row .right_column_blue iframe{
    width: 500px;
    border-width: 1px;
    border-color: midnightblue;
    border-radius: 2%;
    height: 320px;
}

.easy_n_useful{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 800px;
    padding-top: 97px;
    align-items: center;
}
.easy_n_useful .easy_first_row {
    text-align: center;
    width: 560px;
}
.easy_n_useful .easy_first_row h1{
    color: midnightblue;
}
.easy_n_useful .easy_first_row h3, p{
    color:gray;
}
.easy_n_useful .easy_second_row {
    display: flex;
    padding-top: 100px;
}

.easy_n_useful .easy_second_row .easy_second_row_child1,
.easy_second_row_child2,
.easy_second_row_child3{
    text-align: center;
    width: 350px;
    padding: 20px;
}
.easy_n_useful .easy_third_row button{
   margin-top: 80px;
   width: 150px;
   height: 55px;
   background-color: #1de9b6;
   border-radius: 5px;
   border:none;
   color:white;
   outline:none; 
}

.services{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 1020px;
}
.services .four_color_blocks{
    display: flex;
    color: white;
    text-align: left;
}
.services .four_color_blocks .business {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83d7fc;
    width: 400px;
    height: 150px;
    
}

.services .four_color_blocks .downloads{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #82b1ff;
    width: 400px;
    height: 150px;
}

.services .four_color_blocks .free_installs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #b388ff;
    width: 400px;
    height: 150px;
}
.services .four_color_blocks img{
    padding-right: 26px;
}
.services .four_color_blocks .pro_users{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ea80fc;
    width: 400px;
    height: 150px;

}

.services .services_n_statistics{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    text-align: center;
    
}
.services .services_n_statistics h3{
    width: 560px;
    color: grey;
}

.services .statistics_block{
    background-color: white;
    width:800px;
    height: 240px;
    margin-top: 50px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    text-align:justify;
}
.inner_header_stat{
    display: flex;
    justify-content: space-between;
}
.inner_header_stat h3{
    padding-left: 56px;
    margin-top: 0%;
}
.services .pic_stat{
    display: flex;
}
.services .pic_stat img{
    padding-right: 50px;
}
.services .four_rows{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.services .four_rows img{
    margin-top: 20px;
}
.services .four_rows .box_1, .box_2, .box_3, .box_4{
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-top:30px;
    width: 800px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
}
.services .four_rows .box_3 img{
    margin-left: 10px;
    margin-right: 15px;
}
.customer_opinion{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 140px;
    background-image: url("./pictures/Rectangle 1 copy 5.png");
    height: 565px;
    display: flex;
    justify-content: space-around;
}
.customer_opinion .left-column{
    display: flex;
    flex-direction: column;
    width: 470px;
    justify-content: center;
    padding: 15px;
}
.customer_opinion .left-column button{
    margin-top: 10px;
}
.customer_opinion .left-column h3{
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-justify: left;
    margin-left: -7px;
}
.customer_opinion .left-column p{
    color: white;
}
.customer_opinion button{
    width: 150px;
    height: 50px;
    background-color:midnightblue;
    border-radius: 5px;
    border:none;
    color:white;
    outline:none; 
}
.customer_opinion .right-column{
    width: 650px;
    display:flexbox;
    flex-direction: column;
    padding-top: 20px;
}
.right-column .row1{
    display:flex;
    flex-direction: row;
}
.right-column .arrow1, .arrow2{
    padding-left: 315px;
}
.right-column .row2{
    display: flex;
    flex-direction: row;
}
.right-column .row1 .block{
    background-color: white;
    border-radius: 5px;
    width: 650px;
    height: 160px;
    display: flex;
    flex-direction: column;
    text-align: left;
 
}
.right-column .row2 .block{
    background-color: white;
    border-radius: 5px;
    width: 650px;
    height: 160px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.right-column p, h3{
    padding-left: 10px;
}
.customer_opinion .right-column  img{
    margin-top: 30px;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fafafa;;
    height:760px;
    padding-top: 100px;
}
.team .team-header{
    display: inline-block;
    text-align: center;
    width: 550px;
    margin-bottom: 80px;
}
.team .team-member{
    padding-top: 35px;
    display: inline-block;
    text-align: center;
    width: 650px;
}
.team .icon{
    padding: 10px;

}

.contact_us{
    color: midnightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height:650px;
    padding-top: 50px;
}
.contact_us p{
    color: midnightblue;
}
.contact_us .contact-header{
    display: inline-block;
    text-align: center;
    width: 550px;
}
.contact_us__table .row1{
    display: flex;
}
.contact_us__table .row2{
    display: flex;
}
.contact_us__table  .table__container{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid midnightblue;
    width:280px;
    height: 20px;
}
.contact_us .table__container_big{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid midnightblue;
    width:620px;
    height: 150px;
}
.contact_us .contact__bottom{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px ;
}
.contact__bottom .contact__bottom_left{
    display: flex;
    align-items: center;
    padding-right: 300px;
}
.contact__bottom button{
   width: 150px;
   height: 55px;
   background-color: #1de9b6;
   border-radius: 5px;
   border:none;
   color:white;
   outline:none; 
}
.footer{
    padding-top: 130px;
    background-color: midnightblue;
    height: 300px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer .left-footer a{
    padding-right: 20px;
}
.nav_footer{
    display: flex;
    padding-top: 50px;
}
.footer li {
    color: white; 
}
.nav_right{
    display: flex;
}
.nav_right .nav_child{
    padding: 20px;
}
.footer__icons .icon{
    padding-left: 20px;
    padding-top: 20px;
}
.right-footer .footer__icons{
    padding-left: 225px;
}